.mobile-header{
    display: none;
}

@media only screen and (max-width: 800px) {
    .main-div{

    }

    .logo {
        width: 32% !important;
        height: fit-content;
        margin: 0px;
        align-self: center;
    }

    .coming-soon{

    }

    .view-teams-btn{

    }
    
    .mobile-header{
        display: flex;
    }
    .header-inner-section{
        display: none !important;
    }
}
