.view-teams-btn{
    background: #8903ff !important;
    color: white;

}

.reach_out_section{
    background-color: #282828;
    height: 70vh;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 12rem;
    padding-top: 12rem;
}

.call-to-action{
    background-color: #222;
}