.footer_section{
    background-color: #222222;
    display: flex ;
    padding-left: 7rem;
    flex-direction: column;
}

.footer-top-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}



.subscribe-text{
    color: white;
    font-size: 35px;
    font-weight: 400;
}
.mail-ic{
width: 5%;
}