.footer_section{
    background-color: #222222;
    display: flex ;
    flex-direction: column;
}

.footer-top-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}



.subscribe-text{

}
.mail-ic{
width: 5%;
}