.header {
    background-color: white;
    position: fixed;
    display: flex;
    padding: 1rem;
    right: 0;
    left: 0;
    top: 0;
    background: #282828;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    z-index: 5;
}


.header-inner-section{
    width: 100%;
    padding-left: 10%;
    padding-right: 100%;
    color: azure;
    justify-content: space-between;
    display: flex;
   }

.logo{
    width: 12%;
}


.menu-links{
    display: flex;
    gap: 10px;
}

.menu-links > li{
    list-style: none;

}